html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 182px;
}

.footer {
  bottom: 0;
  height: 182px;
  position: absolute;
  width: 100%;
}


@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.brown-text {
  color: #512800;
}