@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.footer {
    margin-top: 30px;
}

.brown-text {
    color: #512800;
}

.highlight {
  background: #fff3b4;
  color: #222222;
}