img {
    max-width: 100%;
}

.post-pinned {
    background: #fffae1;
}

.post-regular {
    background: #ffffff;
}

.post {
    box-shadow: 0 0 4px #999;
    margin-bottom: 30px;

    .post-content {
        padding: 15px 15px 25px 15px;
    }
    .post-image {
        width: 100%;
    }
}

.post-image {
    width: 100%;
}

.post-body {
    background: #fff;
    box-shadow: 0 0 6px #999;

    .post-content {
        padding: 25px 25px 25px 25px;
    }
}

.posts-content {
    background: #fff;
}

.related-list {
    margin-bottom: 30px;

    .related-item {
        .related-img {
            img {
                max-width: 100%;
            }
        }
        .related-link {
            padding-top: 8px;
            a {
                color: #000;
            }
        }
    }
}

.page-footer {
    .footer-content {
        background: #ECF0F1;
        padding: 15px 0;
        color: #2b4646;

    }
    .footer-copyright {
        background: #c7dae5;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #282828;
    }
}